<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.maplerabbit.rlg.module.admin.mapper.AdminMapper">
    <!-- ========== Base CRUD ========== -->
    <sql id="BaseColumns">
        id, creator_id, admin_name, password, avatar_url, real_name, gender, phone, email, birth, description, is_enable, sign_up_time, create_time, modified_time
    </sql>
    <sql id="save">
        null, #{uuid}, #{username}, #{password}, #{avatarUrl}, #{realName}, #{gender}, #{phone}, #{email}, #{birth}, #{description}, #{isEnable}, #{signUpTime}
    </sql>
    <sql id="saveBatch">
        null, #{i.uuid}, #{i.username}, #{i.password}, #{i.avatarUrl}, #{i.realName}, #{i.gender}, #{i.phone}, #{i.email}, #{i.birth}, #{i.description}, #{i.isEnable}, #{i.signUpTime}
    </sql>

    <resultMap id="BaseResultMap" type="cn.maplerabbit.rlg.pojo.admin.entity.Admin">
        <id column="id" property="id" />
        <result column="creator_id" property="creatorId" />
        <result column="admin_name" property="adminName" />
        <result column="password" property="password" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="real_name" property="realName" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="birth" property="birth" />
        <result column="description" property="description" />
        <result column="is_enable" property="isEnable" />
        <result column="sign_up_time" property="signUpTime" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into admin(
            <include refid="BaseColumns" />
        ) values (
            <include refid="save" />, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
        )
    </insert>

    <insert id="saveBatch" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into admin(
            <include refid="BaseColumns" />
        ) values
        <foreach collection="list" item="i" separator=", ">
            (<include refid="saveBatch" />, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
        </foreach>
    </insert>

    <delete id="remove">
        delete from admin where id = #{pk}
    </delete>

    <delete id="removeBatch">
        delete from admin where id in
        <foreach collection="list" item="pk" open="(" close=")" separator=", ">#{pk}</foreach>
    </delete>

    <update id="update">
        update admin
        <set>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="adminName != null">admin_name = #{adminName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="birth != null">birth = #{birth},</if>
            <if test="description != null">description = #{description},</if>
            <if test="isEnable != null">is_enable = #{isEnable},</if>
            <if test="signUpTime != null">sign_up_time = #{signUpTime},</if>
            modified_time = CURRENT_TIMESTAMP
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="query" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns" />
        from admin
        <where>
            id = #{pk}
        </where>
    </select>

    <select id="queryBatch" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns" />
        from admin
        <where>
            id in
            <foreach collection="list" item="pk" open="(" close=")" separator=", ">#{pk}</foreach>
        </where>
    </select>

    <select id="count" resultType="int">
        select count(*) from admin
    </select>
</mapper>