:root
{
    --font-sans-serif: "Microsoft YaHei UI", 'Ubuntu', 'Source Sans Pro', sans-serif !important;
    --font-monospace: 'Fira Code', 'Roboto Mono', monospace !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

html
{
    font-size: 16px;
}

/* Chrome/Safari */
*::-webkit-scrollbar
{
    display: none;
}

body
{
    background-image: url(/img/sys_background.jpg);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    font-family: var(--font-sans-serif);
}

a
{
    text-decoration: none;
    color: white;
}

li
{
    list-style: none;
}