<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.maplerabbit.rlg.module.log.mapper.UserLoginLogMapper">
    <!-- ========== Base CRUD ========== -->
    <sql id="BaseColumns">
        id, user_uuid, username, ip, engine, time
    </sql>
    <sql id="BaseQueryColumns">
        id, user_uuid, username, ip, engine, time, create_time, modified_time
    </sql>
    <sql id="save">
        null, #{userUuid}, #{username}, #{ip}, #{engine}, #{time}
    </sql>
    <sql id="saveBatch">
        null, #{i.userUuid}, #{i.username}, #{i.ip}, #{i.engine}, #{i.time}
    </sql>

    <sql id="BaseCount">
        select count(*) from user_login_log
    </sql>

    <resultMap id="BaseResultMap" type="cn.maplerabbit.rlg.pojo.log.entity.UserLoginLog">
        <id column="id" property="id" />
        <result column="user_uuid" property="userUuid" />
        <result column="username" property="username" />
        <result column="ip" property="ip" />
        <result column="engine" property="engine" />
        <result column="time" property="time" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user_login_log(
            <include refid="BaseColumns" />
        ) values (
            <include refid="save" />
        )
    </insert>

    <insert id="saveBatch" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user_login_log(
            <include refid="BaseColumns" />
        ) values
        <foreach collection="list" item="i" separator=", ">
            (<include refid="saveBatch" />)
        </foreach>
    </insert>

    <delete id="remove">
        delete from user_login_log where id = #{pk}
    </delete>

    <delete id="removeBatch">
        delete from user_login_log where id in
        <foreach collection="list" item="pk" open="(" close=")" separator=", ">#{pk}</foreach>
    </delete>

    <update id="update">
        update user_login_log
        <set>
            <if test="userUuid != null">user_uuid = #{userUuid},</if>
            <if test="username != null">username = #{username},</if>
            <if test="engine != null">engine = #{engine},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="time != null">time = #{time},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="query" resultMap="BaseResultMap">
        select
            <include refid="BaseQueryColumns" />
        from user_login_log
        <where>
            id = #{pk}
        </where>
    </select>

    <select id="queryBatch" resultMap="BaseResultMap">
        select
            <include refid="BaseQueryColumns" />
        from user_login_log
        <where>
            id in
            <foreach collection="list" item="pk" open="(" close=")" separator=", ">#{pk}</foreach>
        </where>
    </select>

    <select id="count" resultType="int">
        <include refid="BaseCount" />
    </select>
</mapper>