<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.maplerabbit.rlg.module.user.mapper.RolePermissionMapper">
    <!-- ========== Associate Table Base CUD ========== -->
    <sql id="BaseColumns">
        role_id, permission_id, create_time, modified_time
    </sql>
    <sql id="save">
        #{left}, #{right}
    </sql>
    <sql id="saveBatch">
        #{i.left}, #{i.right}
    </sql>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into role_permission(
            <include refid="BaseColumns" />
        ) values (
            <include refid="save" />, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
        )
    </insert>

    <insert id="saveBatch" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into role_permission(
            <include refid="BaseColumns" />
        ) values
        <foreach collection="list" item="i" separator=", ">
            (<include refid="saveBatch" />, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
        </foreach>
    </insert>

    <delete id="remove">
        delete from role_permission where id = #{id}
    </delete>

    <delete id="removeBatch">
        delete from role_permission where id in
        <foreach collection="list" item="id" open="(" close=")" separator=", ">#{id}</foreach>
    </delete>

    <update id="update">
        update role_permission
        <set>
            <if test="left != null">role_id = #{left},</if>
            <if test="right != null">permission_id = #{right},</if>
            modified_time = CURRENT_TIMESTAMP
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="count" resultType="int">
        select count(*) from role_permission
    </select>
</mapper>