<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.maplerabbit.rlg.module.file.mapper.FileMapper">
    <!-- ========== Base CRUD ========== -->
    <sql id="BaseColumns">
        id, uuid, user_id, suffix, type, size, upload_time, association_count, create_time, modified_time
    </sql>
    <sql id="save">
        #{id}, #{uuid}, #{userId}, #{suffix}, #{type}, #{size}, #{uploadTime}, #{associationCount}
    </sql>
    <sql id="saveBatch">
        #{i.id}, #{i.uuid}, #{i.userId}, #{i.suffix}, #{i.type}, #{i.size}, #{i.uploadTime}, #{i.associationCount}
    </sql>

    <resultMap id="BaseResultMap" type="cn.maplerabbit.rlg.pojo.file.entity.File">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="user_id" property="userId" />
        <result column="suffix" property="suffix" />
        <result column="type" property="type" />
        <result column="size" property="size" />
        <result column="upload_time" property="uploadTime" />
        <result column="association_count" property="associationCount" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <insert id="save">
        insert into file(
            <include refid="BaseColumns" />
        ) values (
            <include refid="save" />, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
        )
    </insert>

    <insert id="saveBatch">
        insert into file(
            <include refid="BaseColumns" />
        ) values
        <foreach collection="list" item="i" separator=", ">
            (<include refid="saveBatch" />, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
        </foreach>
    </insert>

    <delete id="remove">
        delete from file where id = #{pk}
    </delete>

    <delete id="removeBatch">
        delete from file where id in
        <foreach collection="list" item="pk" open="(" close=")" separator=", ">#{pk}</foreach>
    </delete>

    <update id="update">
        update file
        <set>
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="suffix != null">suffix = #{suffix},</if>
            <if test="type != null">type = #{type},</if>
            <if test="size != null">size = #{size},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="associationCount != null">association_count = #{associationCount},</if>
            modified_time = CURRENT_TIMESTAMP
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="query" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns" />
        from file
        <where>
            id = #{pk}
        </where>
    </select>

    <select id="queryBatch" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns" />
        from file
        <where>
            id in
            <foreach collection="list" item="pk" open="(" close=")" separator=", ">#{pk}</foreach>
        </where>
    </select>

    <select id="count" resultType="int">
        select count(*) from file
    </select>
</mapper>